@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #f3f8f3;
  --secondary-color: #5cc77a;
  --text-color: #273238;
  --text-color-light: #686868;
  --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

section {
  padding: 0 35px;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  overflow-x: hidden;
}

/* ----------------------------------navigation bar */
header {
  position: fixed;
  right: 1%;
  width: 98%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  background: #fcfbfa;
  z-index: 999;
  border-radius: 40px;
  display: flex;
  padding: 15px 40px;
  margin-top: 5px;
  align-items: center;
  transition: all 0.5s ease;
  animation: slideUp 0.8s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#logo {
  position: relative;
  width: 150px;
  height: auto;
  margin-left: -25px;
  margin-right: auto;
}

/* ------------------------------navbar settings*/
.navbar {
  display: flex;
}

.navbar a {
  display: inline-block;
  font-size: 15px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  padding: 5px 15px;
  justify-content: flex-end;
}

.navbar a .bxs-chevron-down {
  color: var(--text-color);
  margin-left: 5px;
}

.navbar .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fcfbfa;
  border-radius: 10px;
  margin: 0;
  padding: 12px;
  box-shadow: var(--box-shadow-2);
}

.navbar .dropdown-menu li a {
  font-size: 15px;
}

.navbar li:hover .dropdown-menu {
  display: block;
}

.navbar a:hover {
  background-color: var(--secondary-color);
  border-radius: 30px;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

.header-icons {
  display: flex;
  align-items: center;
}

.login-btn {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 15px;
  background: var(--secondary-color);
  border: none;
  border-radius: 30px;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  transition: all 0.6s ease;
}

.login-btn:hover {
  transform: translateY(-5px);
  background-color: var(--text-color);
  color: white;
  cursor: pointer;
}


/* ----------------------------------------Home page*/
.home {
  position: relative;
  background-image: url('http://localhost/Care Compass Hospital/IMG/home-bg-before.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow-2);
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 100vh;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

/* ----------------------------------------Home page image*/
.home-img img {
  margin-top: 70px;
  margin-right: 30px;
  width: 42.5rem;
  height: 29rem;
  animation: zoomIn 1s ease-in-out;
}

.home-txt {
  margin-top: 50px;
  margin-left: 22px;
}

.home-txt h1 {
  font-size: 3.5rem;
  font-weight: auto;
  margin: 15px 50px;
  text-transform: capitalize;
  animation: zoomIn 0.8s ease-in-out;
}

.home-txt span1 {
  color: var(--secondary-color);
}

.home-txt P {
  color: var(--text-color-light);
  width: 100%;
  max-width: 620px;
  font-size: 13px;
  font-weight: 500;
  margin-left: 50px;
  margin-bottom: 35px;
  animation: slideUp 0.8s ease-in-out;
}

.home-btn {
  display: flex;
  align-items: center;
  animation: slideUp 0.8s ease-in-out;
}

/* ----------------------------------------home appointment btn*/
.appointment-btn {
  display: block;
  margin-left: 50px;
  padding: 10px 20px;
  background: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: 30px;
  color: var(--text-color);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.6s ease;
  text-transform: capitalize;
  animation: zoomIn 1.2s ease-in-out;
}

.appointment-btn:hover {
  transform: scale(1.1);
  background-color: var(--text-color);
  color: var(--bg-color);
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------Login form*/
.blur-bg {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg {
  opacity: 1;
  pointer-events: auto;
}

.popup-login {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 700px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  background: #e5f7e9;
  border: 2px solid none;
  box-shadow: var(--box-shadow-2);
  border-radius: 20px;
  transform: translate(-50%, -100%);
}

.show-popup .popup-login {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

/* ----------------------------------------Login form close button*/
.popup-login .close-btn {
  position: absolute;
  right: 12px;
  color: #aaa8a8;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
}

.popup-login .close-btn:hover {
  color: #706f6f;
  transform: scale(0.8);
}

.popup-login .form-box {
  display: flex;
}

.popup-login .register {
  display: none;
}

.form-box .form-img {
  max-width: 330px;
  width: 100%;
  margin-left: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------------Login form img*/
.login .form-img {
  background-image: url('http://localhost/Care Compass Hospital/IMG/login-img.png');
  background-size: cover;
  background-position: center;
}

/* ----------------------------------------register form img*/
.register .form-img {
  background-image: url('http://localhost/Care Compass Hospital/IMG/register-img.png');
  background-size: cover;
  background-position: center;
}

.form-box h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.form-box .form-details {
  width: 100%;
  padding: 35px;
}

form .input-field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

form .input-field input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  outline: none;
  font-size: 14px;
  background: var(--bg-color);
  border-radius: 3px;
  border: 1px solid #717171;
}

form .input-field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #717171;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
  color: var(--text-color);
  font-size: 0.75rem;
  transform: translateY(-120%);
}

.form-box a {
  color: var(--text-color);
}

.form-box .forgot-password {
  display: inline-flex;
  margin-top: 15px;
  font-size: 13px;
}

#links {
  color: #00bcd4;
  text-decoration: none;
}

#links:hover {
  text-decoration: underline;
}

/* ----------------------------------------Login & register btn*/
form button {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 14px 0;
  border-radius: 5px;
  margin: 25px 0;
  color: var(--text-color);
  cursor: pointer;
  background: var(--secondary-color);
  transition: 0.3s ease;
}

form button:hover {
  background: var(--text-color);
  transform: scale(0.96);
  color: #ffff;
}

.form-box .bottom-link {
  text-align: center;
  font-size: 13px;
}




/*-------------------------------about-us*/
.about-us-container {
  display: grid;
  width: 100%;
  height: 110vh;
  padding-left: 12%;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
}

.about-bg img {
  position: absolute;
  width: 80%;
  height: 95%;
  margin-top: 5%;
  margin-left: 10%;
  z-index: 1;
}

.about-content {
  margin-top: 2rem;
  z-index: 6;
}

.about-content h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.about-content p {
  margin-bottom: 1rem;
  color: var(--text-light);
  font-weight: 400;
}

.about-image {
  z-index: 7;
}

.about-image img {
  width: 400px;
  height: 430px;
  border: 1px solid var(--secondary-color);
  margin-top: 10%;
  border-radius: 10px;
}

/*------------------------------------------why-choose-us*/
.why-choose-us-section {
  display: grid;
  width: 100%;
  min-height: 100vh;
  padding-left: 14%;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  position: relative;
}

.choose-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('http://localhost/Care Compass Hospital/IMG/why-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.choose-container {
  display: flex;
  width: 100%;
  gap: 5rem;
  z-index: 3;
}

.header-left {
  flex: 1;
  z-index: 2;
}

.heading {
  background: white;
  padding: 20px;
  border-left: 5px solid orange;
  box-shadow: var(--box-shadow-2);
  border-radius: 10px;
  margin-bottom: 10px;
}

.header-left h2 {
  font-size: 2rem;
  padding: 20px;
}

.heading h4 {
  font-size: 15px;
}

.heading p {
  font-size: 13px;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.benefit-box {
  background: white;
  padding: 10px;
  border-left: 5px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow-2);
  transition: 0.4s ease;
}

.benefit-box h3 {
  font-size: 15px;
  font-weight: 500;
}

.benefit-box p {
  font-size: 14px;
  color: #555;
}

.img-right {
  flex: 1;
  margin-top: 6%;
  z-index: 4;
  border-radius: 10px;
}

.img-right img {
  width: 350px;
  height: 400px;
  border-radius: 10px;
}

.benefit-box:hover {
  transform: scale(1.05);
  background-color: #eaf8ea;
  cursor: pointer;
}

/*----------------------------------------------footer*/
.footer {
  background-color: var(--text-color);
  color: #ecf0f1;
  padding: 2rem 0;
  font-size: 14px;
}

.footer-logo {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;

  background-color: #e5f7e9;
}

.footer-logo img {
  width: 170px;
  display: block;
  margin: auto;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer h4 {
  font-size: 16px;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.footer-links h5 {
  color: var(--secondary-color);
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 1rem;
}

.footer p,
.footer a {
  color: #bdc3c7;
  line-height: 1.6;
  text-decoration: none;
}

.footer a:hover {
  color: var(--secondary-color);
}

.footer-links ul {
  list-style: none;
  margin-left: 70px;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  text-decoration: none;
  color: #ecf0f1;
}

.footer-links ul li a:hover {
  color: var(--secondary-color);
}

.footer-contact p {
  margin-bottom: 0.5rem;
}

.footer-social .social-icons a {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #ecf0f1;
  transition: color 0.3s;
}

.footer-social .social-icons a:hover {
  color: var(--secondary-color);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #7f8c8d;
  font-size: 12px;
  color: #bdc3c7;
}
