@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

:root {
    --bg-color: #f3f8f3;
    --secondary-color: #5cc77a;
    --text-color: #273238;
    --text-color-light: #686868;
    --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    --box-shadow-2: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    height: 120vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: auto;
    background-color: var(--text-color);
    color: white;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}

.sidebar .logout {
    margin-top: 80%;
    margin-left: 5%;
    padding: 10px;
    background: #424a4e;
    border-radius: 10px 0 0 10px;
}

.sidebar .logout:hover {
    background: #353f45;
}


.sidebar a:hover {
    background: rgb(183, 236, 198);
}

.sidebar .active {
    background: var(--secondary-color);
    color: var(--text-color);
}

/* --------------------------------------------Content Area */
.content {
    flex: 1;
    padding: 20px 30px;
    margin-top: 0;
    background-image: url('http://localhost/Care Compass Hospital/IMG/service-bg.png');

}

.content h1 {
    color: white;
    padding: 5px;
    background: #273238;
    filter: opacity(80%);
    text-align: center;
    font-size: 25px;
    animation: zoomIn 1.2s ease-in-out;
}

.content h2 {
    margin-top: 2%;
    animation: zoomIn 1.2s ease-in-out;
}

.appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    animation: zoomIn 1.2s ease-in-out;
}

.appointment-table th,
.appointment-table td {
    border: 1px solid #c5c5c5;
    background: var(--bg-color);
    padding: 5px;
    text-align: center;
    font-size: 13px;
}

.appointment-table th {
    background-color: rgb(145, 234, 157);
}

/* lab appointments*/

.lab-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    animation: zoomIn 1.2s ease-in-out;
}

.lab-table th,
.lab-table td {
    border: 1px solid #c5c5c5;
    background: var(--bg-color);
    padding: 5px;
    text-align: center;
    font-size: 13px;
}

.lab-table th {
    background-color: rgb(145, 234, 157);
}

.edit-btn {
    background: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    transition: 0.3s ease;
}

.edit-btn:hover {
    transform: scale(0.95);
    background-color: var(--text-color);
    color: white;
}

.cancel-btn,
.delete-btn {
    background: rgb(249, 14, 14);
    color: white;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    transition: 0.3s ease;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 17.5%;
    top: 0;
    width: 90%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--bg-color);
    margin-left: 5%;
    padding: 30px;
    border: 1px solid #888;
    margin-top: 2%;
    margin-left: 25%;
    border-radius: 10px;
    width: 40%;
}

.modal-content label {
    font-size: 13px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

form input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    background: transparent;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    padding: 10px 20px;
    margin-top: 5px;
    background: var(--secondary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

form button:hover {
    transform: scale(0.97);
    background-color: var(--text-color);
    color: white;
}

.content_area {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-2);
    max-width: 600px;
    margin-top: 4%;
    margin-left: 10%;
    font-family: Arial, sans-serif;
    animation: zoomIn 1.2s ease-in-out;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.content_area h3 {
    color: var(--secondary-color);
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.content_area ul {
    padding-left: 20px;
}

.content_area ul li {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 16px;
}

.content_area ul li strong {
    color: #2980b9;
}

.content_area p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.content_area p:last-child {
    font-weight: bold;
    color: #27ae60;
    text-align: center;
}

.side-image img {
    position: absolute;
    width: 18%;
    margin-left: 48%;
    margin-top: -13%;
    animation: zoomIn 1.2s ease-in-out;
}